{% extends "materialize_base.html" %}

{% block body %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h3 class="header center black-text">Commuter Schedule</h3>
            <div class="row center">
                <div class="col s6 left-align">
                    <b><span id="today">{{ today }}</span></b>
                    <br />
                    <b><span id="date">{{ date }}</span></b>
                </div>
                <div class="col s6 right-align">
                    <b><span>Current Time</span></b>
                    <br />
                    <b><span id="time">{{ time }}</span></b>
                    <span class="hidden" id="cookieToken">{{ csrf_token }}</span>
                </div>
            </div>
            <div class="row center">
                <h6 class="center black-text">North Station</h6>
                <table id="north" class="responsive-table">
                    <thead>
                        <tr>
                            <!-- <th>Carrier</th> -->
                            <th>Time</th>
                            <th>Destination</th>
                            <th>Train #</th>
                            <th>Track #</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="northStationBody">
                        {% if north_station == None %}
                            <tr>
                                <!-- <td></td> -->
                                <td>No more commuter rails for the night!</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% else %}
                            {% for key, value in north_station.items %}
                                <tr>
                                    <td>{{ value.departure_time|time:"g:i a" }}</td>
                                    <td>{{ value.headsign }}</td>
                                    <td>{{ value.train_number }}</td>
                                    {% if value.platform_code == None %}
                                    <td>TBD</td>
                                    {% else %}
                                    <td>{{ value.platform_code }}</td>
                                    {% endif %}
                                    <td>{{ value.status }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <br />
            <br />
            <div class="row center">
                <h6 class="center black-text">South Station</h6>
                    <table id="south" class="responsive-table">
                            <thead>
                                <tr>
                                    <!-- <th>Carrier</th> -->
                                    <th>Time</th>
                                    <th>Destination</th>
                                    <th>Train #</th>
                                    <th>Track #</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody id="southStationBody">
                                <tr>
                                    {% if south_station == None %}
                                        <tr>
                                            <!-- <td></td> -->
                                            <td>No more commuter rails for the night!</th>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    {% else %}
                                        {% for key, value in south_station.items %}
                                            <tr>
                                                <td>{{ value.departure_time|time:"g:i a" }}</td>
                                                <td>{{ value.headsign }}</td>
                                                <td>{{ value.train_number }}</td>
                                                {% if value.platform_code == None %}
                                                <td>TBD</td>
                                                {% else %}
                                                <td>{{ value.platform_code }}</td>
                                                {% endif %}
                                                <td>{{ value.status }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                        </table>
                </div>
        </div>
    </div>
{% endblock %}

{% load static %}
{% block js %}
        <script type="text/javascript" src="{% static 'materialize/js/polling.js' %}"></script>
{% endblock %}
